<h1>Tu as soif ? </h1>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= cocktail.name %> <%= link_to 'voir le détail', cocktail_path(cocktail) %> </li>
  <%end%>
</ul>



<p> <%= link_to 'Ajoute un cocktail',  new_cocktail_path %> </p>
